@import "../variables.css";

.hero {
	height: 80vh;

	& article,
	aside {
		width: 50%;
	}

	& article {
		flex-direction: column;
		gap: var(--gap-lg);
		justify-content: center;
		text-align: center;
	}

	& aside {
		height: 500px;
	}
}

.hero-content {
	gap: var(--gap-lg);
}
