@import "../variables.css";

nav {
	background-color: var(--color-bg-blue);

	color: var(--color-text-dark);
	padding: var(--padding-md) var(--padding-xl);
	position: fixed;
	z-index: 10;
	width: 100%;
	height: var(--nav-height);

	& a {
		color: inherit;
	}

	& .logo {
		height: 60px;
		width: 60px;
	}

	& span {
		font-size: clamp(1.15rem, 2.5vw, 2rem);
		font-weight: 800;
		color: var(--color-text-red);
	}

	& ul {
		gap: 10px;
	}
}

nav,
nav > ul {
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 768px) {
	nav span {
		display: none;
	}

	nav .logo {
		width: 30px;
		height: 30px;
	}
}
